+b.FOOTER.footer
	+b.heshtag
		p #visitSEDONA
	+b.UL.soc
		li
			a.soc-twitter(href='')
		li
			a.soc-facebook(href='')
		li
			a.soc-youtube.soc-icon-last(href='')
	+b.powered-by
		P Разработано
		+b.IMG.logo(src='images/htmlacademy.svg', alt='htmlacademy')