+b.SECTION.form
	h1 Оставьте свой отзыв
	h3 Помогите нашим отелям стать лучше! оставьте отзыв о них, а также о посещенных вами достопримечательностях

	+e.col-2
		+e.col
			h2 ВАше Общее впечатление:
			
		+e.col
			h2 Представьтесь:
