.header{
    position: relative;
    display: block;
    width: 100%;
    z-index: 10;

    

    &:before{
        content: '';
        position: absolute;
        background-image: url('../images/logo-sedona-desktop.svg');
        width: 188px;
        height: 96px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;

        @media #{$xs} {
            top: -56px;
        }
    }

    .icon-menu{
        width: 56px;
        height: 56px;
        position: absolute;
        top: -56px;
        left: auto;
        right: 0;
        cursor: pointer;
        background-image: url('../images/icon-menu.svg');
        background-position: center center;
        background-repeat: no-repeat;
        display: none;

        @media #{$xs} {
            display: block;
        }
    }

    &__title{
        position: relative;
        background-image: url('../images/back-desktop-jpg.jpg');
        background-position: top center;
        height: 357px;
        width: 100%;

        @media #{$xs} {
            height: 158px;
            margin-top: 56px;
        }

        &:after{
            content: '';
            position: absolute;
            background-image: url('../images/bg-intro-triangle-desktop.svg');
            width: 1202px;
            height: 57px;
            bottom: 0;
            top: auto;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__logo{
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img{
            width: 461px;
            height: 79px;

            @media #{$xs} {
                width: 280px;
            }
        }
    }

}

.nav{
    display: flex;
    justify-content: space-around;
    position: relative;

    &__item{
        text-align: center;
        min-width: 80px;
        span{
            font-size: 14px;
            font-weight: 700;
            line-height: 56px;
            text-transform: uppercase;
        }

        @media #{$xs} {
            display: block;
            width: 100%;
            height: 56px;
            box-shadow: 0 1px 0 rgba($black, 0.2), inset 0 1px 0 rgba($white, 0.2);
            background-color: $blue;
        }
    }

    @media #{$xs} {
        display: none;
        position: absolute;
    }
}