mixin head (title)
    head
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(name="robots",content="noindex, nofollow")
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='format-detection', content='telephone=no')
        meta(name='format-detection', content='address=no')
        title= title
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic,cyrillic-ext")
        link(rel="icon",href="./favicon.png")
        link(rel="shortcut icon",href="./favicon.png")
        link(rel='stylesheet', type='text/css', href='css/style.css')